AIRTABLE_TOKEN=pat_your_token_here
AIRTABLE_BASE_ID=apptcH0H3OgfKEZzP
AIRTABLE_TABLE_ID=tblhhsanKJmjJtXbE
AIRTABLE_VIEW=viwYufMoBg9Km6dQl
AIRTABLE_NAME_FIELD=Member Name
AIRTABLE_TIER_FIELD=Type
AIRTABLE_LOGO_FIELD=Logo
AIRTABLE_LOGO_APPROVED_FIELD=PR/Logo Usage
AIRTABLE_APPROVED_VALUES=yes
AIRTABLE_WEBSITE_ENABLED_FIELD=On Website
AIRTABLE_WEBSITE_ENABLED_VALUES=true,yes,1,checked,on
AIRTABLE_URL_FIELD=Website
AIRTABLE_DESCRIPTION_FIELD=Address
